{% import 'formmacro.twig' as m %}
{% extends 'layout.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <h2 class="display-6 text-center mt-4">
            {{ __('Change password') }}
        </h2>
        <form action="{{ path('restore', {'action': 'check'}) }}" method="post" accept-charset="UTF-8" enctype="multipart/form-data" class="col-12 col-lg-6 mt-1">
            {{ csrf()|raw }}
            {{ m.input('password', {'label': __('New password'), 'type': 'password'}) }}
            {{ m.message('password') }}
            {{ m.input('confirm', {'label': __('Confirm'), 'type': 'password'}) }}
            {{ m.message('confirm') }}
            <button type="submit" class="btn btn-primary mt-1">{{ __('Submit') }}</button>    
        </form>
    </div>
{% endblock %}
